{% extends "layout.html" %}

{% block content %}
  <div class="hero is-fullheight welcome-image">
    <div class="columns">
      <div class="column is-half">
        <div class="container welcome-text">
          <h1 class="title">Welcome to CocktailLife.com</h1>
          <div class="welcome-buttons">
            <div class="columns">
              <div class="column">
                <a href="#" class="button is-rounded">Go to Tips &nbsp;<i class="fas fa-beer"></i></a>
              </div>
              <div class="column">
                <a href="/recipes" class="button is-rounded">Go to Recipes &nbsp;<i class="fas fa-cocktail"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- empty column -->
      </div>
    </div>
  </div>
{% endblock %}
