{% extends "layout.html" %}

{% block content %}
  <div class="hero is-fullheight welcome-image">
    <div class="show-title">
      <a id="openModal">
        <i class="fas fa-search"></i>
      </a>
      <h1 class="title">Recipes</h1>
      <!-- Modal -->
    </div>
    <div class="modal" id="searchModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <form class="form" action="/recipes" method="get">
          <div class="field has-addons">
            <div class="control">
              <input name="searchData" id="searchData" class="input" type="text" placeholder="What to search ...">
            </div>
            <div class="control">
              <a>
                <button type="submit" class="button is-info">Search</button>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
      <!-- Modal -->
    <div class="container show-text">
      <div class="scrollmenu">
          {% for r in recipes %}
          <div class="flip-card">
            <a href="/recipes/{{r._id}}">
              <div class="flip-card-inner">
                <div class="flip-card-front {{r.name}}" style="background-image: url('/img/{{r.picture}}');
                background-color: #cccccc;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">
                <h1 class="subtitle">{{r.name}}</h1>
                <div class="right">
                  <span class="fa fa-star {% if r.grade>0 %} checked {% endif %}"></span>
                  <span class="fa fa-star {% if r.grade>1 %} checked {% endif %}"></span>
                  <span class="fa fa-star {% if r.grade>2 %} checked {% endif %}"></span>
                  <span class="fa fa-star {% if r.grade>3 %} checked {% endif %}"></span>
                  <span class="fa fa-star {% if r.grade>4 %} checked {% endif %}"></span>
                </div>
                </div>
                <div class="flip-card-back">
                  <p>{{r.history}}</p>
                  <span class="right">Difficulty : {{r.difficulty}}</span>
                  <div class="left">
                    <span class="fa fa-star {% if r.grade>0 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if r.grade>1 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if r.grade>2 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if r.grade>3 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if r.grade>4 %} checked {% endif %}"></span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/modal.js"></script>
{% endblock %}
